.allFont-en {
  font-family: "Poppins", sans-serif;
}

.allFont-tw {
  font-family: "Noto Sans TC", sans-serif;
}

.about {
  position: relative;
  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;

  .sectionTopNav {
    width: 100%;
    position: relative;
    z-index: 100;
  }
  .sectionContactMe {
    width: 100%;
    background: var(--bodyColor);
  }
}
