//---------------------------------

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lilita+One&display=swap");

//---------------------------------

.hero {
  position: relative;
  width: 100vw;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;

  .content,
  .heroImg {
    flex: 1;

    height: 100dvh;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12rem;
    // min-width: ;

    .contentBox {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;

      h1 {
        font-family: "Chakra Petch", sans-serif;
        font-size: 2.5rem; //40px
        line-height: 3.75rem;
        margin-bottom: 3rem;
        font-weight: 700;
      }
      h2 {
        font-family: "Chakra Petch", sans-serif;
        font-size: 2.5rem; //40px
        line-height: 3.75rem;
        font-weight: 700;
      }
      .typingText {
        font-weight: 700;
        font-size: 3rem;
        line-height: 4.68rem;
      }
    }
  }
  .heroImg {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      bottom: 10%;

      max-width: 800px;
    }
  }
  .ocean {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    img {
      height: 100%;
    }
  }
  .illustrations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;

    .cloud1 {
      position: absolute;
      width: 300px;
      right: 0;
      bottom: 40%;

      transform: scaleX(-1);
    }
    .cloud3 {
      position: absolute;
      width: 300px;
      left: 50%;
    }
    .surfing {
      position: absolute;

      width: 30%;
      bottom: 20%;
      left: 20%;
      animation: surfing 8s infinite;
    }
  }
}

@keyframes surfing {
  0%,
  100% {
    bottom: 20%;
    left: 20%;
  }
  25% {
    bottom: 15%;
    left: 22%;
  }
  37.5% {
    bottom: 10%;
    left: 18%;
  }
  50% {
    bottom: 15%;
    left: 16%;
  }
  70% {
    bottom: 10%;
    left: 14%;
  }
}

// for font-size
@media screen and (max-width: 1050px) {
  .hero {
    padding: 0rem;
    .content {
      padding-left: 1rem;
      .contentBox {
        padding-left: 1rem;
        h1 {
          font-size: 1.5rem;
        }
        h2 {
          font-size: 2rem;
        }
        .typingText {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 100dvh;
    flex-wrap: wrap;
    flex-direction: column;
    .content {
      width: 100%;
      .contentBox {
        width: 100%;
      }
    }
    .heroImg {
      width: 100%;
      img {
        bottom: 40%;
        width: 300px;
      }
    }

    .ocean {
      height: auto;
      width: 100%;
    }
    .illustrations {
      z-index: 2;
      .cloud1 {
        left: 0;
        width: 200px;
        transform: scaleX(1);
      }
      .cloud3 {
        left: auto;
        right: 10%;
        width: 200px;
        transform: scaleX(-1);
      }
      .surfing {
        width: 20%;
        left: 40%;
        bottom: 17%;
        animation: surfingMd 4s infinite linear;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    .heroImg {
      img {
        bottom: 25%;
      }
    }
    .illustrations {
      .surfing {
        width: 25%;
        bottom: 13%;
        left: 38%;
        animation: surfingSm 4s infinite linear;
      }
    }
  }
}

@keyframes surfingMd {
  0%,
  50%,
  100% {
    bottom: 17%;
    left: 40%;
  }

  25%,
  75% {
    bottom: 16%;
    left: 39%;
  }
}

@keyframes surfingSm {
  0%,
  50%,
  100% {
    bottom: 13%;
    left: 38%;
  }

  25%,
  75% {
    bottom: 12%;
    left: 37%;
  }
}
