//---------------------------------

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lilita+One&display=swap");

//---------------------------------

.hero {
  position: relative;
  width: 100vw;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;

  //   border: 2px solid red;
  .content,
  .heroImg {
    flex: 1;
    // width: 50%;
    height: 100%;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12rem;

    // border: 2px solid red;
    .contentBox {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;

      h1 {
        font-family: "Chakra Petch", sans-serif;
        font-size: 2.5rem; //40px
        line-height: 3.75rem;
        margin-bottom: 3rem;
        font-weight: 700;
      }
      h2 {
        font-family: "Chakra Petch", sans-serif;
        font-size: 2.5rem; //40px
        line-height: 3.75rem;
        font-weight: 700;
      }
      .typingText {
        // font-size: 3.125rem; // 50px
        // font-family: "Chakra Petch", sans-serif;

        font-weight: 700;
        font-size: 3rem;
        line-height: 4.68rem;
      }
    }
  }
  .heroImg {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid green;

    img {
      max-width: 800px;
    }
  }
  .ocean {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    img {
      height: 100%;
    }
  }
  .illustrations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;

    .cloud1 {
      position: absolute;
      width: 300px;
      right: 0;
      bottom: 40%;

      transform: scaleX(-1);
    }
    .cloud3 {
      position: absolute;
      width: 300px;
      left: 50%;
    }
    .surfing {
      position: absolute;
      //   width: 500px;
      width: 30%;
      bottom: 20%;
      left: 20%;
      animation: surfing 8s infinite;
    }
  }
}

@keyframes surfing {
  0%,
  100% {
    bottom: 20%;
    left: 20%;
  }
  25% {
    bottom: 15%;
    left: 22%;
  }
  37.5% {
    bottom: 10%;
    left: 18%;
  }
  50% {
    bottom: 15%;
    left: 16%;
  }
  70% {
    bottom: 10%;
    left: 14%;
  }
}

@media screen and (max-width: 1225px) {
  .hero {
    .heroImg {
      img {
        min-width: 533px;
      }
    }
    .illustrations {
      .surfing {
        left: 5%;
        animation: surfing1225 8s infinite;
      }
    }
  }
}
@keyframes surfing1225 {
  0%,
  100% {
    bottom: 20%;
    left: 5%;
  }
  25% {
    bottom: 15%;
    left: 7%;
  }
  37.5% {
    bottom: 10%;
    left: 3%;
  }
  50% {
    bottom: 15%;
    left: 2%;
  }
  70% {
    bottom: 10%;
    left: 0%;
  }
}

@media screen and (max-width: 1050px) {
  .hero {
    padding: 0rem;
    .content {
      min-width: 250px;
      padding-left: 1rem;
      .contentBox {
        min-width: 250px;
        padding-left: 1rem;
        h1 {
          font-size: 1.5rem;
        }
        h2 {
          font-size: 2rem;
        }
        .typingText {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 100dvh;
    flex-wrap: wrap;
    flex-direction: column;
    .content {
      width: 100vw;
      .contentBox {
        width: 100%;
      }
    }
    .heroImg {
      width: 100vw;
      img {
        max-width: 300px;
        min-width: 300px;
      }
    }
  }
}
