:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    45deg,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

//---------------------------------

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lilita+One&display=swap");

//---------------------------------

.home {
  width: 100vw;
  min-height: 100dvh;
  //   overflow: hidden;

  .navBar {
    display: flex;
    justify-content: space-around;
    background: var(--gradientColor);
    // height: 50px;
    height: 60px;

    width: 100%;

    .logoBox {
      width: fit-content;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      //   border: 1px solid red;

      .logoLink {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
        img {
          width: 48px;
        }
        p {
          font-family: "Lilita One", sans-serif;
          font-size: 1.25rem;
          color: var(--PrimaryColor);
        }
      }
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      //   padding-left: 10rem;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;

        li {
          a {
            color: var(--whiteColor);
            font-weight: 600;
          }
        }
      }
    }

    .socialAndLan {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .social {
        display: flex;
        justify-content: center;
        align-items: center;

        //   border: 1px solid red;
        img {
          height: 30px;
          cursor: pointer;
        }
      }

      .lanDropdown {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2px;
        gap: 2px;
        cursor: pointer;

        img {
          height: 2rem;
        }
        .dropdownArrow {
          height: 12px;
        }
      }

      // when user didn't click lanDropdown
      .dropdownList {
        // display: none;
        position: absolute;
        top: 110%;
        display: flex;
        width: max-content;
        background: var(--cardBG);
        border-radius: 10px;
        gap: 0.5rem;
        padding: 0.5rem;

        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 0.3s, opacity 0.3s linear;
        img {
          height: 2rem;
        }
        .flag {
          border: none;
          cursor: pointer;
        }
        .flagActive {
          border: 2px solid red;
          border-radius: 50%;
        }
      }

      // when user clicked lanDropdown
      .dropdownListActive {
        opacity: 1;
        visibility: visible;

        transition: visibility 0s linear 0s, opacity 0.3s linear;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    .navBar {
      .links {
        display: none;
      }
    }
  }
}
