:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    45deg,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

//---------------------------------

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lilita+One&display=swap");

//---------------------------------

.home {
  position: relative;
  width: 100vw;
  min-height: 100dvh;

  .sectionTopNav {
    width: 100%;
    position: relative;
    z-index: 100;
  }

  .sectionHero {
    width: 100%;
    position: relative;
    z-index: 8;
  }
  .sectionProblem {
    width: 100%;
  }
  .sectionPortfolios {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
}
