.problemWrapper {
  width: 100%;
  min-height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;
  //   border: 2px solid yellowgreen;
  background: var(--whiteColor);
  .problem {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 10rem 0rem;
    gap: 4rem;

    // border: 2px solid red;

    h2 {
      align-self: start;
      font-size: 3.125rem; //50px
      line-height: 3.75rem; //60px
      font-style: italic;
      font-weight: 400;
      span {
        font-weight: 700;
      }

      // padding-left: 5rem;
    }
    .problemImgBox {
      width: 70%;
      min-width: 250px;
      margin-bottom: 3rem;
      //   border: 2px solid green;
      img {
      }
    }

    .problemContent {
      display: flex;

      justify-content: center;
      align-items: center;
      //   border: 2px solid purple;
      .problemItem {
        height: 200px;
        // padding: 0 1rem;
        padding-left: 2rem;
        display: flex;

        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex: 1 0 200px;
        gap: 1rem;
        border-right: 2px solid black;
        // border: 2px solid purple;

        h3 {
          font-size: 1.5rem;
          line-height: 2rem;
        }

        ul {
          li {
            list-style: disc;
            margin-left: 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .problemWrapper {
    .problem {
      .problemContent {
        flex-direction: column;
        width: 100%;
        .problemItem {
          height: auto;
          width: 100%;
          justify-content: center;

          border-right: none;
          border-bottom: 2px solid black;
          &:nth-child(1) {
            border-top: 2px solid black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .problemWrapper {
    .problem {
      width: 100%;
      padding: 5rem 1rem;
      h2 {
        font-size: 1.5rem; // 24px
        line-height: 2.25rem; // 36px
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .problemWrapper {
    .problem {
      .problemContent {
        .problemItem {
          &:nth-child(1) {
            padding: 2rem 0rem 2rem 2rem;
          }
        }
      }
    }
  }
}
